{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <h1>Welcome to TRJ Monitoring Solution!</h1>
    <p>Python scripting provides information about the network which could include system monitoring checks, file system checks, HTTP checks, POP3 tests, SNMP queries, system loads, network configurations, ping checks, customized TCP port checks, and log files.</p>
    <hr>
    <h2>Tools:</h2>
    <p>Programming Language: Python<br>
        Web Framework: Flask<br>
        API: Twilio</p>
    <hr>
    <h2>Network Diagram:</h2>
    <img src="https://user-images.githubusercontent.com/53331354/154495296-c6ec9ad3-3f04-43dc-a8d0-8d5791db3eda.png" height="70%" width="70%">
{% endblock content %}
